---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for item in collections.all %}
  {%- if item.url %}
  <url>
    <loc>https://memorymatch.com{{ item.url }}</loc>
    <lastmod>{{ item.date.toISOString() }}</lastmod>
    <changefreq>{{ item.data.changefreq if item.data.changefreq else "monthly" }}</changefreq>
    <priority>{{ item.data.priority if item.data.priority else "0.5" }}</priority>
  </url>
  {%- endif %}
{%- endfor %}
</urlset>